html {
	min-width: 1000px;
	font-family: Arial;
}

a {
	text-decoration: none;
}

.fixed-container {
	width: 960px;
	margin: 0 auto;
}

#nav {
	font-size: 25px;
}

.time {
	border-radius: 30px;
	background-color: #E4E4E4;
	border: 0px solid white;
	padding: 15px;
}

.time:hover {
	padding: 13px;
}

#nav-apr-9 {
	margin-left: 100px;
}

#nav-apr-10 {
	margin-left: 100px;
}

#bar i {
	position: absolute;
	top: 60px;
	left: 225px;
	font-size: 30px; color: #2BD2FF;
}

.shedule {
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 50px;
}

.item {
	padding: 20px;
	font-size: 18px;
}

.date {
	border: 0px solid white;
	border-radius: 20px;
	padding: 5px;
}

.simple-a {
	text-decoration: none;
	color: #6F7F7E;
}

.dl {
	text-decoration: none;
	border: 0px solid white;
	padding: 10px;
	background-color: #6f7f7e;
	color: #e2e3dc;
	border-radius: 40px;
}

.dl:hover {
	padding: 8px;
}

.without-hw {
	text-align: center;
	font-size: 30px;
}

.number {
	text-align: center;
}

